@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Loved+by+the+King&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap'); 


.top-section{
    background-color: rgb(90, 73, 55);
    height: 2em;
    font-weight: lighter;
    color: rgb(240, 235, 203);
    display: flex;
    align-items: center;
    padding: 0 0 0 0.6em;
}


.home-link{
    display: flex;
    width: 1.5em;
    justify-content: center;
    align-items: center;
    margin-left: 0.3em;
    background-color: rgb(240, 235, 203);
    height: 70%;
    border-radius: 1em;
}

/* Correción de colores de navegación de bootstrap */
.navbar-dark .navbar-nav .nav-link {
	rgb(240, 235, 203, 0.5);
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: rgb(240, 235, 203);
}


.bottom-section{
    background-color: rgb(240, 235, 203);
    height: 2em;
    display: flex;
    align-content: center;
}   


.bottom-section a{
    display: flex;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
}

.bottom-section a img{
    width: 0.9em;
}

.bottom-section .bottom-section-social-media{
    display: flex;
    width: 8em;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0.3em;
}

.bottom-section .bottom-section-social-media .bottom-section-social-media-hand-writing{
    font-family: 'Loved by the King', cursive;
    font-size: 0.6em;
    font-weight: 1000;
    line-height: 1.2em;
    letter-spacing: 0.05em;
}

.bottom-section .bottom-section-social-media img{
    transition: 0.3s ease-out;
}

.bottom-section .bottom-section-social-media img:hover{
    width: 1.2em;
}