@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Loved+by+the+King&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap'); 


.top-section{
    background-color: rgb(90, 73, 55);
    height: 2em;
    font-weight: lighter;
    color: rgb(240, 235, 203);
    display: flex;
    align-items: center;
    padding: 0 0 0 0.6em;
}



